Repository WestpacGEL/GEL, pull requests merged in 2019-10, with the labels that each got.

#140 Update Panel
  components/panel/examples/00-appearance.js
  components/panel/examples/10-table.js
  components/panel/src/Panel.js
  components/panel/src/PanelBody.js
  components/panel/src/PanelFooter.js
  components/panel/src/PanelHeader.js
  components/panel/src/index.js
Labels: panel

#143 Update Table
  components/table/examples/10-striped.js
  components/table/examples/20-bordered.js
  components/table/examples/30-bordered-&-striped.js
  components/table/examples/40-responsive.js
  components/table/src/Table.js
Labels: table

#139 Update Well
  components/well/src/Well.js
Labels: well

#147 Update Alert
  components/alert/examples/00-default.js
  components/alert/examples/10-appearance.js
  components/alert/examples/20-icon.js
  components/alert/examples/30-closable.js
  components/alert/src/Alert.js
  components/alert/src/AlertHeading.js
  components/alert/src/index.js
Labels: alert

#158 ButtonGroup POC
  components/button-group/docs.mdx
  components/button-group/src/ButtonGroup.js
  components/button-group/src/ButtonGroupButton.js
Labels: button-group

#136 Update ButtonGroup, Button and Icon
  components/button-group/docs.mdx
  components/button-group/examples/00-appearance.js
  components/button-group/examples/10-sizes.js
  components/button-group/examples/20-block.js
  components/button-group/examples/30-icons.js
  components/button-group/examples/40-checked-state.js
  components/button-group/examples/50-options.js
  components/button-group/src/ButtonGroup.js
  components/button-group/src/ButtonGroupButton.js
  components/button-group/src/index.js
  components/button/docs.mdx
  components/button/examples/00-appearance.js
  components/button/examples/30-block.js
  components/button/examples/40-active-state.js
  components/button/examples/50-disabled-state.js
  components/button/examples/60-icons.js
  components/button/examples/70-options.js
  components/button/examples/80-responsive.js
  components/button/src/Button.js
  components/button/src/styled.js
  components/icon/src/Icon.js
  helpers/example/index.js
Labels: button, button-group, icon

#164 Update FormCheck
  components/form-check/docs.mdx
  components/form-check/examples/00-default.js
  components/form-check/examples/10-size.js
  components/form-check/examples/20-inline.js
  components/form-check/examples/30-flipped.js
  components/form-check/examples/40-disabled-state.js
  components/form-check/examples/50-checked-state.js
  components/form-check/src/FormCheck.js
  components/form-check/src/FormCheckItem.js
  components/form-check/src/FormCheckOption.js
  components/form-check/src/index.js
Labels: form-check

#144 Update Symbol
  brands/BOM/tokens/symbols.js
  brands/BSA/tokens/symbols.js
  brands/BTFG/tokens/symbols.js
  brands/STG/tokens/symbols.js
  brands/WBC/tokens/symbols.js
  brands/WBG/tokens/symbols.js
  components/symbol/examples/30-all-logos.js
  components/symbol/examples/_util.js
  components/symbol/src/Symbol.js
  components/symbol/src/index.js
  components/symbol/src/logos/LogoLarge.js
  components/symbol/src/logos/LogoSmall.js
  components/symbol/src/logos/MultibrandLargeLogo.js
  components/symbol/src/logos/MultibrandSmallCenterLogo.js
  components/symbol/src/logos/MultibrandSmallLogo.js
  components/symbol/src/logos/MultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/BOMMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/BOMMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/BOMMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/BOMMultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/BSAMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/BSAMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/BSAMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/BSAMultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/BTFGMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/BTFGMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/BTFGMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/BTFGMultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/STGMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/STGMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/STGMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/STGMultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/WBCMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/WBCMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/WBCMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/WBCMultibrandSmallRightLogo.js
  components/symbol/src/logos/multibrand/WBGMultibrandLargeLogo.js
  components/symbol/src/logos/multibrand/WBGMultibrandSmallCenterLogo.js
  components/symbol/src/logos/multibrand/WBGMultibrandSmallLogo.js
  components/symbol/src/logos/multibrand/WBGMultibrandSmallRightLogo.js
  helpers/transformers/web.js
Labels: symbol

#146 Update SrSkipLink
  components/accessibility-helpers/src/SrSkipLink.js
Labels: accessibility-helpers

#145 Update Badge and Label
  components/badge/examples/00-appearance.js
  components/badge/examples/10-links.js
  components/badge/examples/20-buttons.js
  components/badge/src/Badge.js
  components/label/examples/00-examples.js
  components/label/src/Label.js
Labels: badge, label

#150 Update Form and TextInput
  components/form/docs.mdx
  components/form/examples/00-example.js
  components/form/examples/10-form.js
  components/form/examples/20-FormSection.js
  components/form/examples/30-FormGroup.js
  components/form/examples/60-FormLabel.js
  components/form/examples/80-ErrorMessage.js
  components/form/examples/90-InputCluster.js
  components/form/package.json
  components/form/src/ChitChat.js
  components/form/src/ErrorMessage.js
  components/form/src/Fieldset.js
  components/form/src/Form.context.js
  components/form/src/Form.js
  components/form/src/FormGroup.js
  components/form/src/FormLabel.js
  components/form/src/FormSection.js
  components/form/src/FormSectionImg.js
  components/form/src/Hint.js
  components/form/src/InputCluster.js
  components/form/src/InputClusterItem.js
  components/form/src/index.js
  components/text-input/docs.mdx
  components/text-input/examples/00-text-input.js
  components/text-input/examples/10-select.js
  components/text-input/examples/20-textarea.js
  components/text-input/src/TextInput.js
Labels: form, text-input

#96 FormPod
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/form-pod/LICENSE
  components/form-pod/README.md
  components/form-pod/cypress.json
  components/form-pod/docs.mdx
  components/form-pod/examples/00-default.js
  components/form-pod/examples/10-expanded-body.js
  components/form-pod/examples/20-header-icon.js
  components/form-pod/examples/30-actions-reverse.js
  components/form-pod/examples/40-error-summary.js
  components/form-pod/package.json
  components/form-pod/src/FormPod.js
  components/form-pod/src/FormPodActions.js
  components/form-pod/src/FormPodActionsText.js
  components/form-pod/src/FormPodContactList.js
  components/form-pod/src/FormPodIndicator.js
  components/form-pod/src/FormPodPanel.js
  components/form-pod/src/FormPodPanelBody.js
  components/form-pod/src/FormPodPanelFooter.js
  components/form-pod/src/index.js
  components/form-pod/src/styled.js
  components/form-pod/tests/integration/integration.cypress.js
Labels: form-pod

#168 Remove neutral option from Button and ButtonGroup
  components/button-group/docs.mdx
  components/button-group/examples/00-appearance.js
  components/button-group/src/ButtonGroup.js
  components/button/docs.mdx
  components/button/examples/00-appearance.js
  components/button/examples/10-button-tags.js
  components/button/examples/20-sizes.js
  components/button/examples/30-block.js
  components/button/examples/40-active-state.js
  components/button/examples/50-disabled-state.js
  components/button/examples/60-icons.js
  components/button/examples/70-options.js
  components/button/src/Button.js
Labels: button, button-group

#169 Fixing FormCheck functionality and add :focus styling
  components/form-check/src/FormCheckOption.js
Labels: form-check

#180 Spike: button group radio behaviour
  components/button-group/LICENSE
  components/button-group/README.md
  components/button-group/cypress.json
  components/button-group/docs.mdx
  components/button-group/examples/00-appearance.js
  components/button-group/examples/10-sizes.js
  components/button-group/examples/20-block.js
  components/button-group/examples/30-icons.js
  components/button-group/examples/40-checked-state.js
  components/button-group/examples/50-options.js
  components/button-group/package.json
  components/button-group/src/ButtonGroup.js
  components/button-group/src/ButtonGroupButton.js
  components/button-group/src/index.js
  components/button-group/tests/integration/integration.cypress.js
  components/button/examples/90-group.js
  components/button/src/ButtonGroup.js
  components/button/src/index.js
  components/core/src/devWarning.js
  components/core/src/index.js
  components/core/src/wrapHandlers.js
  components/form/docs.mdx
  components/form/package.json
  components/list-group/docs.mdx
  components/list-group/examples/00-default.js
  components/list-group/package.json
Labels: button, button-group, form-check
