Repository WestpacGEL/GEL, pull requests merged in 2019-07, with the labels that each got.

#73 WIP: Feature/label
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/label/LICENSE
  components/label/README.md
  components/label/cypress.json
  components/label/docs.mdx
  components/label/examples/00-examples.js
  components/label/package.json
  components/label/src/Label.js
  components/label/src/index.js
  components/label/tests/integration/integration.cypress.js
Labels: Label

#74 Feature/alert
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/alert/LICENSE
  components/alert/README.md
  components/alert/cypress.json
  components/alert/docs.mdx
  components/alert/examples/00-default.js
  components/alert/package.json
  components/alert/src/Alert.js
  components/alert/src/index.js
  components/alert/tests/integration/hooks.cypress.js
  components/alert/yarn.lock
  components/icon/examples/30-responsive.js
  components/icon/examples/40-all-icons.js
  components/icon/src/Icon.js
  package.json
  yarn.lock
Labels: Alert

#88 fix(button): remove unnecessary CSS flex property
  components/button/src/Button.js
Labels: Button

#86 feat(icon): add responsive sizing via prop as per Button
  components/icon/src/Icon.js
Labels: Icon
