Repository WestpacGEL/GEL, pull requests merged in 2019-08, with the labels that each got.

#95 Fix/alert: correct alert background color tokens
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/alert/src/Alert.js
Labels: Alert

#94 Fix/icon: set a default icon color
  components/icon/src/Icon.js
Labels: Icon

#102 Feature/accessibility-helpers
  components/accessibility-helpers/LICENSE
  components/accessibility-helpers/README.md
  components/accessibility-helpers/cypress.json
  components/accessibility-helpers/docs.mdx
  components/accessibility-helpers/examples/00-default.js
  components/accessibility-helpers/package.json
  components/accessibility-helpers/src/SrOnly.js
  components/accessibility-helpers/src/index.js
  components/accessibility-helpers/tests/integration/accessibility-helpers.cypress.js
  components/accessibility-helpers/tests/unit/accessibility-helpers.spec.js
Labels: accessibility-helpers

#106 SrOnly docs fix
  components/accessibility-helpers/docs.mdx
Labels: accessibility-helpers

#79 List
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/list/LICENSE
  components/list/README.md
  components/list/cypress.json
  components/list/docs.mdx
  components/list/examples/00-default.js
  components/list/examples/10-type.js
  components/list/examples/20-icon.js
  components/list/examples/30-ordered.js
  components/list/examples/_utils.js
  components/list/package.json
  components/list/src/List.js
  components/list/src/ListItem.js
  components/list/src/index.js
  components/list/tests/integration/hooks.cypress.js
  package.json
  yarn.lock
Labels: List

#87 Core
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/core/examples/00-example.js
  components/core/examples/00-typography.js
  components/core/examples/10-fonts.js
  components/core/examples/20-text-extensions.js
  components/core/examples/30-focusable-elements.js
  components/core/package.json
  components/core/src/Core.js
  components/core/src/Theme.js
  components/core/src/index.js
  helpers/example/index.js
  package.json
  yarn.lock
Labels: core

#111 Label tweak
  components/label/docs.mdx
  components/label/src/Label.js
Labels: label

#114 Grid tweak
  components/grid/src/Cell.js
  components/grid/src/Container.js
  components/grid/src/Grid.js
Labels: grid

#115 Icon tweak
  components/icon/examples/30-responsive.js
  components/icon/src/Icon.js
Labels: icon

#113 Button refactor
  components/button/examples/80-responsive.js
  components/button/src/Button.js
  components/button/src/utils.js
Labels: button

#77 Modal
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/modal/LICENSE
  components/modal/README.md
  components/modal/cypress.json
  components/modal/docs.mdx
  components/modal/examples/00-default.js
  components/modal/examples/10-size.js
  components/modal/package.json
  components/modal/src/Modal.js
  components/modal/src/ModalBody.js
  components/modal/src/ModalFooter.js
  components/modal/src/ModalHeader.js
  components/modal/src/index.js
  components/modal/src/styled.js
  components/modal/src/utils.js
  components/modal/tests/integration/modal.cypress.js
  components/modal/tests/unit/modal.spec.js
  package.json
  yarn.lock
Labels: modal

#108 ListGroup
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/list-group/LICENSE
  components/list-group/README.md
  components/list-group/cypress.json
  components/list-group/docs.mdx
  components/list-group/examples/00-default.js
  components/list-group/package.json
  components/list-group/src/ListGroup.js
  components/list-group/src/ListGroupItem.js
  components/list-group/src/index.js
  components/list-group/tests/integration/list-group.cypress.js
  components/list-group/tests/unit/list-group.spec.js
Labels: list-group

#110 Badge tweak
  components/badge/docs.mdx
  components/badge/examples/00-appearance.js
  components/badge/examples/10-links.js
  components/badge/examples/20-buttons.js
  components/badge/src/Badge.js
Labels: badge

#116 refactor: set icon color via the style attribute
  components/alert/src/Alert.js
  components/icon/src/Icon.js
Labels: alert, icon

#107 ProgressBar
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/progress-bar/LICENSE
  components/progress-bar/README.md
  components/progress-bar/cypress.json
  components/progress-bar/docs.mdx
  components/progress-bar/examples/00-default.js
  components/progress-bar/examples/_utils.js
  components/progress-bar/package.json
  components/progress-bar/src/ProgressBar.js
  components/progress-bar/src/index.js
  components/progress-bar/tests/integration/progress-bar.cypress.js
  components/progress-bar/tests/unit/progress-bar.spec.js
Labels: progress-bar

#104 Switch
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/core/src/utils.js
  components/switch/LICENSE
  components/switch/README.md
  components/switch/cypress.json
  components/switch/docs.mdx
  components/switch/examples/00-default.js
  components/switch/examples/10-sizes.js
  components/switch/examples/20-options.js
  components/switch/examples/30-responsive.js
  components/switch/package.json
  components/switch/src/Switch.js
  components/switch/src/index.js
  components/switch/src/styled.js
  components/switch/tests/integration/switch.cypress.js
  components/switch/tests/unit/switch.spec.js
  package.json
Labels: switch

#118 gel-develop fixes
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/button-group/docs.mdx
  components/button-group/examples/10-sizes.js
  components/button-group/examples/30-icons.js
  components/button-group/src/ButtonGroup.js
  components/button-group/src/ButtonGroupButton.js
  components/button/docs.mdx
  components/button/examples/00-appearance.js
  components/button/examples/60-icons.js
  components/button/examples/70-options.js
  components/button/src/Button.js
  components/button/src/styled.js
  components/core/src/Theme.js
  components/core/src/utils.js
  components/icon/src/Icon.js
  components/panel/examples/00-appearances.js
  components/panel/src/Panel.js
  components/panel/src/PanelBody.js
  components/panel/src/PanelFooter.js
  components/panel/src/PanelHeader.js
  components/table/docs.mdx
  components/table/examples/30-bordered-striped.js
  components/table/examples/40-responsive.js
  components/table/src/Table.js
  components/table/src/utils.js
  components/well/src/Well.js
  components/well/src/utils.js
Labels: button, button-group, table

#109 Breadcrumb
  brands/BOM/tokens/index.js
  brands/BSA/tokens/index.js
  brands/BTFG/tokens/index.js
  brands/STG/tokens/index.js
  brands/WBC/tokens/index.js
  brands/WBG/tokens/index.js
  components/breadcrumb/LICENSE
  components/breadcrumb/README.md
  components/breadcrumb/cypress.json
  components/breadcrumb/docs.mdx
  components/breadcrumb/examples/00-default.js
  components/breadcrumb/package.json
  components/breadcrumb/src/Breadcrumb.js
  components/breadcrumb/src/Crumb.js
  components/breadcrumb/src/index.js
  components/breadcrumb/tests/integration/breadcrumb.cypress.js
  components/breadcrumb/tests/unit/breadcrumb.spec.js
Labels: breadcrumb
